version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hello
    ports:
      - 5432:5432

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - 1433:1433

  mongo:
    image: mongo:6
    ports:
      - 27017:27017

  redis:
    image: redis:7
    ports:
      - 6379:6379

  cassandra:
    image: cassandra:4.1
    ports:
      - 9042:9042

  supabase:
    image: supabase/postgres:15.3.0
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432

  app:
    build: .
    depends_on:
      - postgres
      - mongo
      - redis
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=default
