server:
  port: 8085

spring:
  datasource:
    url: jdbc:h2:mem:hello;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    mongodb:
      host: localhost
      port: 27017

profiles:
  active: default
